@import '../../../assets/colors/colors.scss';
@import '../../../assets/fonts/fonts.scss';
@import '../../../assets/style-templates/mixins.scss';
@import "../../../assets/style-templates/nav-spacer.scss";

.plot-hooks-page{
    @include page-layout;
}

.plot-hook-post{
    @include post-spacing;
}

.plot-hook-title{
    font-size: 36pt;
    @include remove-margins;
    @include header;
    line-height: 1;
	//color: $dark-red;
}

.plot-hook-tags{
    @include remove-margins;
    font-size: 15pt;
    font-weight: bold;
    color: $red;

    &::after {
        content: ",";
    }
    
    &::before {
        content: "\00a0 ";
	}
	
	&:last-child {
		&::after {
			content: none;
		}
    }
    
    &:first-child {
		&::before {
			content: none;
		}
	}
}

.tags {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
}

.plot-hook-content{
    font-size: 15pt;
    @include remove-margins;
}

.social-buttons {
    @include social-buttons;
}
