<div class="nav-spacer"></div>
<div class="npc-page" *ngFor="let post of posts$ | async">
  <div class="npc-post">
    <a [routerLink]="['/npcs', post.url]" class="npc-name">
      {{post.name}}
    </a>
    <div class="npc-quote-area">
      <p class="npc-quote">
        {{post.quote}}
      </p>
      <p class="npc-quote-author">
        {{post.quoteAuthor}}
      </p>
    </div>
    <p class="npc-description">
      {{post.description}}
    </p>
    <div class="npc-stats">
      <span class="npc-stat" *ngFor="let stat of post.stats">
        {{stat}}
      </span>
    </div>
  </div>
</div>