<div class="nav-spacer"></div>
<div class="filter-element">
	<div class="header" (click)="toggleGroup1()" (keydown.enter)="toggleGroup1()" tabindex="0">
		<span class="inner-header" tabindex="-1" [ngClass]="{ expanded: !hideGroup1 }">Filter by sex</span>
	</div>
	<div class="filter-group">
		<div class="filter-option1" [hidden]="hideGroup1">
			<label role="checkbox" aria-checked="true" for="male" (keydown.enter)="tabToggleMale()"
				(mousedown)="removeFocus()" [ngClass]="{ 'remove-focus' : click }">
				<input #male type="checkbox" id="male" value="male" (click)="toggleMale()" checked />
				<span class="custom-checkbox"></span>
				Male
			</label>
		</div>
		<div class="filter-option1" [hidden]="hideGroup1">
			<label role="checkbox" aria-checked="true" for="female" (keydown.enter)="tabToggleFemale()"
				(mousedown)="removeFocus()" [ngClass]="{ 'remove-focus' : click }">
				<input #female type="checkbox" id="female" value="female" (click)="toggleFemale()" checked />
				<span class="custom-checkbox"></span>
				Female
			</label>
		</div>
	</div>

	<div class="header header2" (click)="toggleGroup2()" (keydown.enter)="toggleGroup2()"
		[ngClass]="{ expanded: !hideGroup2 }" tabindex="0">
		<span class="inner-header" tabindex="-1">Filter by age</span>
	</div>
	<div class="filter-group fg-2">
		<div class="filter-option2" [hidden]="hideGroup2">
			<label role="checkbox" aria-checked="true" for="young" (keydown.enter)="tabToggleYoung()"
				(mousedown)="removeFocus()" [ngClass]="{ 'remove-focus' : click }">
				<input #young type="checkbox" id="young" value="young" (click)="toggleYoung()" checked />
				<span class="custom-checkbox"></span>
				Young
			</label>
		</div>
		<div class="filter-option2" [hidden]="hideGroup2">
			<label role="checkbox" aria-checked="true" for="middle-aged" (keydown.enter)="tabToggleMiddleAged()"
				(mousedown)="removeFocus()" [ngClass]="{ 'remove-focus' : click }">
				<input #middleAged type="checkbox" id="middle-aged" value="middle-aged" (click)="toggleMiddleAged()"
					checked />
				<span class="custom-checkbox"></span>
				Middle-Aged
			</label>
		</div>
		<div class="filter-option2" [hidden]="hideGroup2">
			<label role="checkbox" aria-checked="true" for="old" (keydown.enter)="tabToggleOld()"
				(mousedown)="removeFocus()" [ngClass]="{ 'remove-focus' : click }">
				<input #old type="checkbox" id="old" value="old" (click)="toggleOld()" checked />
				<span class="custom-checkbox"></span>
				Old
			</label>
		</div>
	</div>
</div>

<div class="page">
	<a [routerLink]="['/npcs', post.url]" class="post" *ngFor="let post of posts$ | async">
		<span class="title">
			{{ post.name }}
		</span>
		<span class="preview"> {{ post.race }} {{ post.profession }} </span>
	</a>
</div>