<div class="filter-element">
    <div class="header">
            <span>Filter by {{filter1}}</span>
    </div>
    
    <div class="filter-group">
        <div *ngFor="let filter of filterGroup1" class="filter-option1">
            <label [for]="filter">
                    <input type="checkbox" [id]="filter" [value]="filter">
                    <span class="custom-checkbox"></span>
                    {{filter}}
            </label>
        </div>
    </div>
   
    <div *ngIf="filter2" class="header">
    <span *ngIf="filterGroup2">Filter by {{filter2}}</span>
    </div>
    <div class="filter-group fg-2">
        <div *ngFor="let filter of filterGroup2" class="filter-option2"> 
            <label [for]="filter">
                    <input type="checkbox" [id]="filter" [value]="filter">
                    <span class="custom-checkbox"></span>
                    {{filter}}
            </label>
        </div>
    </div>
</div>