<div class="filter-element">
    <div class="filter-group">
        <span *ngFor="let filter of filterGroup1" class="filter-option">
            <input type="checkbox" [id]="filter">
            <label [for]="filter">{{filter}}</label>
        </span>
    </div>
   
    <div class="filter-group">
        <span *ngFor="let filter of filterGroup2" class="filter-option">
            <input type="checkbox" [id]="filter">
            <label [for]="filter">{{filter}}</label>
        </span>
    </div>
</div>