@import '../colors/colors.scss';
@import '../fonts/fonts.scss';

@mixin header {
	font-family: $fantasy-font;
	color: $dark-blue;
}

@mixin post-spacing {
	display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 35px;
    text-align: center;
    width: 50%;
    background-color: $white;
    padding: 3%;
}

@mixin remove-margins {
	margin-top: 0;
    margin-bottom: 0;
}

@mixin page-layout {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 80px);
}