#magic-items-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.magic-item-post{
    width: 50%;
    text-align: center;
    background-color: white;
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
    margin-top: 50px;
}