<div class="nav-spacer"></div>
<div class="npc-page" *ngIf="(post$ | async) as post">
  <div class="npc-post">
    <p class="npc-name">
      {{post[0].name}}
    </p>
    <div class="npc-quote-area">
      <span class="npc-quote">
        {{post[0].quote}}
      </span>
      <span class="npc-quote-author">
        {{post[0].quoteAuthor}}
      </span>
    </div>
    <p class="npc-description">
      {{post[0].description}}
    </p>
    <div class="npc-stats">
      <span class="npc-stat" *ngFor="let stat of post[0].stats; let i = index">
        <span *ngIf="i==0" class="strength"></span>
        <span *ngIf="i==1" class="dexterity"></span>
        <span *ngIf="i==2" class="constitution"></span>
        <span *ngIf="i==3" class="intelligence"></span>
        <span *ngIf="i==4" class="wisdom"></span>
        <span *ngIf="i==5" class="charisma"></span>{{stat}}
      </span>
    </div>
    <div class="social-buttons">
      <share-buttons [theme]="'material-dark'" [include]="['facebook','twitter','pinterest','reddit']" [show]="4"></share-buttons>
    </div>
  </div>
</div>