@import '../../../assets/colors/colors.scss';
@import '../../../assets/fonts/fonts.scss';
@import '../../../assets/style-templates/mixins.scss';

.nav-spacer{
    width: 100%;
    height: 80px;
}

.npc-page{
    @include page-layout;
}

.npc-post{
    @include post-spacing;
}

.npc-name{
	font-size: 36pt;
    @include remove-margins;
    line-height: 1;
    @include header;
}

.npc-quote-area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15pt;
    background-color: dark-blue-transparent(.1);
    font-style: italic;
    padding: 2%;
    @include remove-margins;
}

.npc-quote-author{
    margin-top: 2%;
    font-weight: bold;
    color: $red;
}

.npc-description{
    font-size: 15pt;
    @include remove-margins;
}

.npc-stats{
    display: flex;
    flex-direction: row;
   // justify-content: space-between;
    //color: #c6ac3c;
    font-size: 15pt;
    list-style-position: inside;
    list-style: none;
    //font-weight: bold;
    @include remove-margins;
}

.npc-stat {
    color: $dark-blue;

    &:nth-child(1)::before {
        content: "STR: ";
        margin-left: 0;
    }

    &:nth-child(2)::before {
        content: "DEX: ";
    }

    &:nth-child(3)::before {
        content: "CON: ";
    }

    &:nth-child(4)::before {
        content: "INT: ";
    }

    &:nth-child(5)::before {
        content: "WIS: ";
    }

    &:nth-child(6)::before {
        content: "CHA: ";
    }

    &:nth-child(n) {
        margin-left: 6%;
    }

    &:first-child {
        margin-left: 0;
    }
}

.social-buttons {
    @include social-buttons;
}