@import '../../../assets/colors/colors.scss';
@import '../../../assets/fonts/fonts.scss';
@import '../../../assets/style-templates/mixins.scss';

.nav-spacer{
    width: 100%;
    height: 80px;
}

.npc-page{
    @include page-layout;
}

.npc-post{
    @include post-spacing;
}

.npc-name{
	font-size: 36pt;
    @include remove-margins;
    line-height: 1;
    @include header;
}

.npc-quote-area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15pt;
    background-color: dark-blue-transparent(.1);
    font-style: italic;
    padding: 2%;
    @include remove-margins;
}

.npc-quote-author{
    margin-top: 2%;
    font-weight: bold;
    color: $red;
}

.npc-description{
    font-size: 15pt;
    @include remove-margins;
}

.npc-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15pt;
    list-style-position: inside;
    list-style: none;
    @include remove-margins;
}

.npc-stat {
    color: $dark-blue;
    font-size: 20pt;
    display: inherit;
    align-items: center;

    &:nth-child(n) {
        margin-left: 6%;
    }

    &:first-child {
        margin-left: 0;
    }
}

.strength {
    @include stat-icon;
    content: url(src\assets\icons\strength.svg);
}

.dexterity {
    @include stat-icon;
    content: url(src\assets\icons\dexterity.svg);
}

.constitution {
    @include stat-icon;
    content: url(src\assets\icons\constitution.svg);
}

.intelligence {
    @include stat-icon;
    content: url(src\assets\icons\intelligence.svg);
}

.wisdom {
    @include stat-icon;
    content: url(src\assets\icons\wisdom.svg);
}

.charisma {
    @include stat-icon;
    content: url(src\assets\icons\charisma.svg);
}

.social-buttons {
    @include social-buttons;
}