<div class="nav-spacer"></div>
<div class="contact-page">
  <form (ngSubmit)="submitForm()" class="contact-form" *ngIf="!formSubmitted">
    <div class="field">
      <input type="text" name="contactForm" placeholder="Name" [(ngModel)]="formData.name" />
    </div>
    <div class="field">
      <input type="email" name="contactForm" placeholder="Email" [(ngModel)]="formData.email" />
    </div>
    <div class="field">
      <textarea name="contactForm" class="textarea" placeholder="Message" [(ngModel)]="formData.message"></textarea>
    </div>
    <re-captcha (resolved)="resolved($event)" siteKey="6LeYFKsUAAAAAOzwJXF1tERb8yoaOk9qVwQmORCY"></re-captcha>
    <button id="submit" [disabled]="!captchaResolved" class="submit-button" type="submit">
      Submit
    </button>
  </form>
  <span class="after-submit" *ngIf="formSubmitted && serverResponse!=null">{{serverResponse}}</span>
  <span class="after-submit" *ngIf="formSubmitted && serverResponse==null">Sending...</span>
</div>