@import '../../../assets/colors/colors.scss';
@import '../../../assets/fonts/fonts.scss';
@import '../../../assets/style-templates/mixins.scss';


.nav-spacer{
    width: 100%;
    height: 80px;
}

.magic-items-page{
    @include page-layout;
}

.magic-item-post{
    @include post-spacing;
}

.magic-item-title{
    font-size: 36pt;
    @include remove-margins;
    line-height: 1;
    @include header;
}

.magic-item-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15pt;
    background-color: dark-blue-transparent(.1);
    font-style: italic;
    padding: 2%;
    @include remove-margins;
}

.magic-item-type{
    font-size: 15pt;
    font-weight: bold;
    color: $red;
    @include remove-margins;
}

.magic-item-details{
    font-size: 15pt;
    @include remove-margins;
}

.social-buttons {
    @include social-buttons;
}

a {
    color: $white;
}