<div class="nav-spacer"></div>
<div class="magic-items-page">
	<div class="magic-item-post" *ngIf="(post$ | async) as post">
		<p class="magic-item-title">
			{{post[0].title}}
		</p>
		<p class="magic-item-desc">
			{{post[0].description}}
		</p>
		<p class="magic-item-type">
			{{post[0].type}}
		</p>
		<p class="magic-item-details">
			{{post[0].details}}
		</p>
		<div class="social-buttons">
			<share-buttons [theme]="'material-dark'"
			[include]="['facebook','twitter','pinterest','reddit']"
			[show]="4"
			[title]="post[0].title"
			[description]="post[0].description"
			[image]="post[0].shareImage"
			[autoSetMeta]="false"
			></share-buttons>
		</div>
	</div>
	<a [routerLink]="'/magic-items'">
		Return to magic items
	</a>
</div>