<div class="nav-spacer"></div>
<div class="magic-items-page">
	<div class="magic-item-post" *ngIf="(post$ | async) as post">
		<p class="magic-item-title" [innerHTML]="post[0].title | highlight : highlightService"></p>
		<p class="magic-item-desc" [innerHTML]="post[0].description | highlight : highlightService"></p>
		<div>
			<span class="magic-item-type" [innerHTML]="post[0].type | highlight : highlightService"></span>
			<span class="magic-item-type">,&nbsp;</span>
			<span class="magic-item-type" [innerHTML]="post[0].rarity | highlight : highlightService"></span>
		</div>
		<p class="magic-item-details" [innerHTML]="post[0].details | highlight : highlightService"></p>
		<div class="social-buttons">
			<share-buttons [theme]="'material-dark'"
			[include]="['facebook','twitter','pinterest','reddit']"
			[show]="4"
			[title]="post[0].title"
			[description]="post[0].description"
			[image]="post[0].shareImage"
			[autoSetMeta]="false"
			></share-buttons>
		</div>
	</div>
</div>