<nav id="main-nav">
  <img id="logo-nav" src="https://i.postimg.cc/WzbMVhVW/logo.png">
  <a id="home-nav" routerLink="" (click)="setTitle('Home')">Home</a>
  <a id="magic-items-nav" routerLink="" (click)="setTitle('Magic Items')">Magic Items</a>
  <a id="npcs-nav" routerLink="" (click)="setTitle('NPCs')">NPCs</a>
  <a id="plot-hooks-nav" routerLink="" (click)="setTitle('Plot Hooks')">Plot Hooks</a>
  <a id="contact-nav" routerLink="" (click)="setTitle('Contact')">Contact</a>
  <a id="support-nav" routerLink="" (click)="setTitle('Support The Site')">Support The Site</a>
  <span style="color: white;">Search Component</span>
</nav>