@import "../../assets/colors/colors.scss";
@import "../../assets/fonts/fonts.scss";

#main-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: calc(1em + 1.4vw);
	font-weight: bold;
	font-family: $fantasy-font;
	position: fixed;
	width: 100%;
	height: 80px;
	top: 0;
	box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.75);
	background: $red;
	z-index: 2;

	@media (max-width: 1300px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: auto;
		min-height: 60px;
		align-items: flex-start;
		font-size: 22pt;
		width: 100vw;
	}
}

#logo-nav {
	@media (max-width: 1300px) {
		display: none;
	}
	border-radius: 50%;
	height: 60px;
	width: 60px;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	padding: 4px;
	background-color: white;
}

a {
	@media (max-width: 1300px) {
		display: none;
	}
	transition: 0.25s;
	text-decoration: none;
	color: $white;
}

a:hover {
	transition: 0.25s;
	color: $dark-blue;
}

.hamburger-menu-icon {
	cursor: pointer;
	@media (min-width: 1301px) {
		display: none;
	}
	&.lock-menu-position {
		margin-top: 14px;
	}
	margin-left: 5%;
}

.menu-clicked {
	display: unset;
	align-self: center;
	margin-left: 0;
	padding-top: 1%;
	padding-bottom: 1%;
}

app-search {
	display: flex;
	@media (max-width: 1300px) {
		display: none;
	}
}

@media (max-width: 1300px) {
	app-search {
		order: 1;
	}

	#home-nav {
		order: 2;
	}

	#magic-items-nav {
		order: 3;
	}

	#npcs-nav {
		order: 4;
	}

	#plot-hooks-nav {
		order: 5;
	}

	#contact-nav {
		order: 6;
	}
}
