<nav id="main-nav">
  <img id="logo-nav" src="https://i.lensdump.com/i/WYDtGm.png">
  <a id="home-nav" routerLink="home" (click)="setTitle('Home')" [ngClass]="menuClicked">Home</a>
  <a id="magic-items-nav" routerLink="magic-items" (click)="setTitle('Magic Items')" [ngClass]="menuClicked">Magic Items</a>
  <a id="npcs-nav" routerLink="npcs" (click)="setTitle('NPCs')" [ngClass]="menuClicked">NPCs</a>
  <a id="plot-hooks-nav" routerLink="plot-hooks" (click)="setTitle('Plot Hooks')" [ngClass]="menuClicked">Plot Hooks</a>
  <a id="contact-nav" routerLink="contact" (click)="setTitle('Contact')" [ngClass]="menuClicked">Contact</a>
  <!-- <span style="color: white;">Search Component</span> -->
  <img class="hamburger-menu-icon" src="../../assets/icons/hamburger-menu.svg" (click)="openMenu()" [ngClass]="menuClicked">
</nav>