#main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7vw;
    font-weight: bold;
    background-color: #cb3d3d;
    font-family: 'Fondamento', cursive;
}

#logo-nav{
    border-radius: 50%;
    width: 4%;
    height: 4%; 
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
}



