#main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 3.5vh;
    font-weight: bold;
    background-color: #771716;
    font-family: 'Fondamento', cursive;
}

#logo-nav{
    border-radius: 50%;
    width: 4%;
    height: 4%; 
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-shadow:
        -1px -1px 0 #c6ac3c,  
        1px -1px 0 #c6ac3c,
        -1px 1px 0 #c6ac3c,
        1px 1px 0 #c6ac3c;
}



