html{
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
        ),
        url("./assets/textures/diamond_upholstery.png");
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    font-family: 'PT Serif', serif;
    height: inherit;
    width: inherit;
}

a{
    text-decoration: none;
    color: #771716;
    transition: 0.25s;
}

a:visited {
    color: #581611;
    transition: 0.25s;
}

a:hover {
    transition: 0.25s;
    color: #c6ac3c;
    cursor: pointer;
}  

a:active {
    color: #b68740;
}
