/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: 'PT Serif', serif;
    height: inherit;
    width: inherit;
}

html{
    background-color: #eaeaea;
    height: 100%;
    width: 100%;
}
