@import "../../assets/fonts/fonts.scss";
@import "../../assets/colors/colors.scss";
@import "../../assets/style-templates/mixins.scss";

input {
	max-width: 100px;
	min-height: 30px;
	font-size: 30px;
	font-family: $fantasy-font;
	transition: max-width 0.4s ease-in-out;
	background: $white url("../../assets/icons/search.png") no-repeat;
	background-position: 6px 5px;
	background-size: 30px 30px;
	padding: 0;
	border: 0;
	padding-left: 45px;
	color: $black;

	&:focus {
		@include tab-outline();
	}

	&.wide {
		width: auto;
		max-width: 300px;
	}

	&:host {
		display: flex;
	}
}

.search-element {
	display: flex;
	flex-direction: column;
	font-size: 10px;
	position: relative;
}

.results-list {
	position: absolute;
	top: 40px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 180px;
}

.result {
	border: 1px solid #ddd;
	margin-top: -1px;
	background-color: $white;
	padding: 6px;
	text-decoration: none;
	font-size: 18px;
	font-family: $normal-font;
	transition-duration: 0.2s;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&:hover,
	&:focus {
		color: $light-blue;
	}

	& a {
		height: 100%;
		width: 100%;
		color: $black;
	}

	& .post-type {
		color: $red;
	}
}

.scroll-viewport {
	position: absolute;
	top: 38px;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 180px;
	overflow-x: hidden;

	&.hide {
		display: none;
	}
}
