<div class="search-element">
    <input type="text" placeholder="search" [formControl]="input" (focus)="showResults()" (focusout)="hideResults()">
    <ul class="results-list" [hidden]="hide">
        <cdk-virtual-scroll-viewport class="scroll-viewport" itemSize="34">
        <li class="result" *cdkVirtualFor="let post of posts$ | async">
            <a [routerLink]="post.url">{{post.title}}<span class="post-type"> ({{post.type}})</span></a>
        </li>
        </cdk-virtual-scroll-viewport>
    </ul>
    
</div>


