@import "../../assets/fonts/fonts.scss";
@import "../../assets/colors/colors.scss";
@import "../../assets/style-templates/mixins.scss";
@import "../../assets/style-templates/nav-spacer.scss";

#home-page {
  background: linear-gradient(black-transparent(0.85), black-transparent(0.85)),
    url("https://i.lensdump.com/i/WlsQP7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100% - 80px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  //grid-template-rows: 1fr 1fr 1fr;
  //grid-column-gap: 50px;
  grid-template-areas:
    "text logo news";
  @media (max-width: 1300px) {
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
    "text news"
    "logo news";
    grid-template-rows: 1fr 1fr;
    height: calc(100% - 60px);
  }
  @media (max-width: 800px) {
    grid-template-columns: 1fr; 
    grid-template-areas: 
    "text"
    "news";
    grid-template-rows: 1fr 1fr;
    //grid-row-gap: 0;
    height: auto;
  }
}

.home-title {
  color: white;
  line-height: 0;
  font-size: 3vw;
  grid-area: text;
  //align-self: flex-end;
  font-family: $fantasy-font;
  @media (max-width: 1300px) {
    font-size: calc(3.6vw);
  }
  @media (max-width: 800px) {
    font-size: calc(2em + 1vw);
  }
}

.home-desc {
  color: white;
  font-size: 1.3vw;
  grid-area: text;
  //align-self: center;
  @media (max-width: 1300px) {
    font-size: calc(1.8vw);
  }
  @media (max-width: 800px) {
    font-size: calc(1em + 1vw);
  }
}

.home-credits {
  color: white;
  font-size: 1.3vw;
  grid-area: text;
  @media (max-width: 1300px) {
    font-size: calc(1.8vw);
  }
  @media (max-width: 800px) {
    font-size: calc(1em + 1vw);
  }
}

.home-logo {
  grid-area: logo;
  //object-fit: fill;
  height: 60%;
  width: 60%;
  align-self: center;
  justify-self: flex-start;
  margin-left: 7%;
  @media (max-width: 1300px){
    height: 85%;
    margin-left: 10%;
    justify-self: center;
    align-self: flex-start;
  }
  @media (max-width: 800px) {
    margin-left: 0;
    display: none;
  }
}

.home-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 10%;

  @media (max-width: 1300px) {
    margin-top: 5%;
  }

  @media (max-width: 800px) {
    margin-left: 0;
    padding: 5%;
  }
}

a {
  color: $light-blue;

  &:hover {
    color: $gold;
  }
}

.update-area {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-self: center;
  grid-area: news;
  height: 85%;
  width: 75%;
  box-sizing: border-box;
  // display: table;
  // background-color: white-transparent(0.2);
  background-color: $white;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 8px 8px 23px 2px rgba(0, 0, 0, 0.75);
  margin-right: 10%;
  @media (max-width: 800px) {
    justify-self: center;
    //padding: 5%;
    margin-right: 0;
    width: 90%;
  }
}

.update-post-group {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  flex-grow: 1;
}

.update-post {
  //margin-top: 20px;
  //min-height: 100px;
  margin-bottom: 8%;
}

.update-title {
  font-size: calc(1em + .4vw);
  @media (max-width: 800px) {
    font-size: calc(1em + 1vw);
  }
}

.update-date {
  font-size: calc(1em + .4vw);
  @media (max-width: 800px) {
    font-size: calc(1em + 1vw);
  }
}

.update-body {
  font-size: calc(1em + .4vw);
  @media (max-width: 800px) {
    font-size: calc(1em + 1vw);
  }
}

.area-header {
  @include header;
  text-align: center;
  //font-size: 2vmax;
  font-size: calc(1em + 1.7vw);
  margin-bottom: 3%;

  @media (max-width: 800px) {
    font-size: calc(2em + 1vw);
  }
}
