.nav-spacer{
    width: 100%;
    height: 80px;
}

#home-page{
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0.75)
        ),
        url("https://i.lensdump.com/i/WlsQP7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100% - 80px);
    display: grid;
    grid-template-columns: 7% 1fr 1fr 1fr 10%;
    grid-template-rows: 10% 1fr 1fr 1fr 10%;
    grid-template-areas: 
    "t1 t2 t3 t4 t5"
    "t6 title logo logo t9"
    "t10 text logo logo t14"
    "t15 credits logo logo t19"
    "t20 t21 t22 t23 t24";
}

.home-title{
    color: white;
    line-height: 0;
    font-size: 3vmax;
    grid-area: title;
    align-self: flex-end;
    font-family: 'Fondamento', cursive;
}

.home-text{
    color: white;
    font-size: 1.2vmax;
    grid-area: text;
    align-self: center;
}

.home-credits{
    color: white;
    font-size: 1.2vmax;
    grid-area: credits;
    align-self: flex-start;
}

.home-logo{
    grid-area: logo;
    object-fit: fill;
    max-height: 60%;
    max-width: 60%;
    align-self: center;
    justify-self: flex-start;
    margin-left: 7%;
}

.t1{
    grid-area: t1;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t2{
    grid-area: t2;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t3{
    grid-area: t3;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t4{
    grid-area: t4;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t5{
    grid-area: t5;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t6{
    grid-area: t6;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t7{
    grid-area: t7;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t8{
    grid-area: t8;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t9{
    grid-area: t9;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t10{
    grid-area: t10;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t11{
    grid-area: t11;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t12{
    grid-area: t12;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t13{
    grid-area: t13;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t14{
    grid-area: t14;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t15{
    grid-area: t15;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t16{
    grid-area: t16;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t17{
    grid-area: t17;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t18{
    grid-area: t18;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t19{
    grid-area: t19;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t20{
    grid-area: t20;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t21{
    grid-area: t21;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t22{
    grid-area: t22;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t23{
    grid-area: t23;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

.t24{
    grid-area: t24;
    background-color: white;
    outline-color: gray;
    outline-style: solid;
    width: auto;
    height: auto;
    opacity: 0.1;
}

a{
    text-decoration: none;
    color: #771716;
    transition: 0.25s;
}
a:visited {
    color: #581611;
    transition: 0.25s;
}
a:hover {
    transition: 0.25s;
    color: #c6ac3c;
    cursor: pointer;
}  
a:active {
    color: #b68740;
}