<div class="nav-spacer"></div>
<div id="home-page">
  <p class="home-title">
    DM Resource Chest
  </p>
  <p class="home-text">
      DM Resource Chest is a treasure trove full of Dungeons and Dragons campaign elements that can easily be added to your campaign. The resources you find here can be inserted directly into your campaign or they can serve as inspiration for your own fantastic creations. Plenty of new content is being added on a regular basis, so be sure to check back frequently!
  </p>
  <p class="home-credits">
      Special thanks to <a href="https://amandalee.design/" target="_blank">Amanda Wade</a> for designing the website logo.
  </p>
  <img class="home-logo" src="https://i.lensdump.com/i/WeT06m.png">
  <!-- <span class="t1"></span>
  <span class="t2"></span>
  <span class="t3"></span>
  <span class="t4"></span>
  <span class="t5"></span>
  <span class="t6"></span>
  <span class="t7"></span>
  <span class="t8"></span>
  <span class="t9"></span>
  <span class="t10"></span>
  <span class="t11"></span>
  <span class="t12"></span>
  <span class="t13"></span>
  <span class="t14"></span>
  <span class="t15"></span>
  <span class="t16"></span>
  <span class="t17"></span>
  <span class="t18"></span>
  <span class="t19"></span>
  <span class="t20"></span>
  <span class="t21"></span>
  <span class="t22"></span>
  <span class="t23"></span>
  <span class="t24"></span> -->
</div>


<!--
  <p id="home-title">DM Resource Chest</p>
    <p id="home-text">
      A treasure trove full of Dungeons and Dragons campaign elements that can easily be added to your campaign. The resources you find here can be inserted directly into your campaign or they can serve as inspiration for your own fantastic creations. Plenty of new content is being added on a regular basis, so be sure to check back frequently!
    </p>
    <p id="home-credits">
      Special thanks to <a href="https://amandalee.design/" target="_blank">Amanda Wade</a> for designing the website logo.
    </p>
  <img id="home-image" src="https://i.lensdump.com/i/WeT06m.png">
-->

