<div class="nav-spacer"></div>
<div class="filter-element">
  <div class="header" (click)="toggleGroup1()" (keydown.enter)="toggleGroup1()" [ngClass]="{'expanded' : !hideGroup1}" tabindex="0">
          Filter by tag
  </div>
  <div class="filter-group">
      <div class="filter-option1" [hidden]="hideGroup1">
          <label for="combat" (keydown.enter)="tabToggleCombat()">
                  <input #combat type="checkbox" id="combat" value="combat" (click)="toggleCombat()" checked>
                  <span class="custom-checkbox"></span>
                  Combat
          </label>
      </div>
      <div class="filter-option1" [hidden]="hideGroup1">
          <label for="exploration" (keydown.enter)="tabToggleExploration()">
                  <input #exploration type="checkbox" id="exploration" value="exploration" (click)="toggleExploration()" checked>
                  <span class="custom-checkbox"></span>
                  Exploration
          </label>
      </div>
      <div class="filter-option1" [hidden]="hideGroup1">
          <label for="horror" (keydown.enter)="tabToggleHorror()">
                  <input #horror type="checkbox" id="horror" value="horror" (click)="toggleHorror()" checked>
                  <span class="custom-checkbox"></span>
                  Horror
          </label>
      </div>
      <div class="filter-option1" [hidden]="hideGroup1">
        <label for="humor" (keydown.enter)="tabToggleHumor()">
                <input #humor type="checkbox" id="humor" value="humor" (click)="toggleHumor()" checked>
                <span class="custom-checkbox"></span>
                Humor
        </label>
    </div>
      
      <div class="filter-option1" [hidden]="hideGroup1">
        <label for="mystery" (keydown.enter)="tabToggleMystery()">
                <input #mystery type="checkbox" id="mystery" value="mystery" (click)="toggleMystery()" checked>
                <span class="custom-checkbox"></span>
                Mystery
        </label>
    </div>

<div class="filter-option1" [hidden]="hideGroup1">
  <label for="social" (keydown.enter)="tabToggleSocial()">
          <input #social type="checkbox" id="social" value="social" (click)="toggleSocial()" checked>
          <span class="custom-checkbox"></span>
          Social
  </label>
</div>
  </div>
</div>

<div class="page">
  <a [routerLink]="['/plot-hooks', post.url]" class="post" *ngFor="let post of posts$ | async">
    <span class="title">
      {{post.title}}
    </span>
    <span class="preview">
      <span class="tags" *ngFor="let tag of post.tags">{{tag}}</span>
    </span>
  </a>
</div>